# Ignore data files
data/
*.pkl
*.csv

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
recommender_env/

# Ignore system files
.DS_Store
Thumbs.db
